:root {
    --primary-text-color: #000;
    --primary-background-color: #ED3237;
    --primary-font-family: 'Barlow';
    --secondary-text-color: #fff;
    --secondary-background-color: #ffd525;
    --secondary-font-family: 'Roboto';
    --relate-text-color: #91d8f7;
    --relate-background-color: #006cb5;
    --relate-font-family: 'Open Sans';
    --default-bg-color: #fff;
}

body,
html {
    width: 100%;
    height: 100%;
    letter-spacing: 0.02em;
}

.hero-section {
    /* background-image: url('../images/headerImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    z-index: 1;
    overflow: hidden;
}

.heroSlider {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--relate-background-color);
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    z-index: -1;
}

header img {
    width: 375px;
    padding-top: 22px;
}

.headerContent h1 {
    font-size: 100px;
    font-weight: bold;
    font-family: var(--primary-font-family);
    line-height: 80px
}

.headerContent h1,
.headerContent p {
    color: var(--secondary-text-color);
}

.headerContent h1 span {
    font-family: var(--secondary-font-family);
    font-size: 26px;
    display: block;
    line-height: 34px;
}

.headerContent p {
    font-family: var(--secondary-font-family);
    font-size: 26px;
}

form {
    background-color: var(--default-bg-color);
    padding: 35px;
}

form .formHeader h2 {
    color: var(--relate-background-color);
    font-family: var(--secondary-font-family);
    font-size: 26px;
    font-weight: bold;
}

form .formHeader p {
    font-size: 16px;
    font-weight: bold;
    font-family: var(--secondary-font-family);
}

form button[type="submit"] {
    outline: none;
    border: none;
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    font-family: var(--secondary-font-family);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 1px 1px 4px 0px #00000038;
    -webkit-box-shadow: 1px 1px 4px 0px #00000038;
    -moz-box-shadow: 1px 1px 4px 0px #00000038;
    padding: 10px 22px;
    letter-spacing: 5.4px;
}


.whyKRM {
    padding: 65px 0;
}

.subTitle {
    padding-top: 25px;
}

.sectionTitle {
    font-family: var(--secondary-font-family);
    font-weight: 300;
    font-size: 26px;
}

.number {
    font-family: var(--primary-font-family);
    color: var(--relate-text-color);
    font-size: 172px;
    line-height: 122px;
    font-weight: 700;
}

.subTitleText {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: 58px;
    font-weight: bold;
    line-height: 46px;
    padding-left: 35px;
}

.enggContent {
    border-left: 1px solid #707070;
    padding-left: 40px;
    margin-top: 35px;
}

.enggContent p {
    font-size: 16px;
}

.ugText img {
    width: 130px;
}

.courselist p {
    font-family: var(--secondary-font-family);
    color: var(--primary-text-color);
    margin: 0;
    font-weight: 500;
}

.courselist p:not(:last-child) {
    padding-bottom: 8px;
}

.courselist {
    padding-left: 25px;
}

.applyOnlineContainer {
    padding-left: 40px;
    padding-top: 35px;
}

.actionBTN {
    font-family: var(--secondary-font-family);
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    background-color: var(--secondary-background-color);
    padding: 12px 28px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    text-decoration: none;
    margin-right: 14px;
    display: inline-block;
}

.actionBTN:hover {
    text-decoration: none;
    color: var(--primary-text-color);
}

.applyOnlineContainer ul.sectionMenu {
    display: flex;
    background-color: #333;
    list-style: none;
    padding: 0;
    border-radius: 45px;
}

.applyOnlineContainer ul.sectionMenu li {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    padding: 12px 16px;
    position: relative;
    display: flex;
    align-items: center;
}

.applyOnlineContainer ul.sectionMenu li:not(:last-child):after {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #fff;
    right: 0;
}

.sectionTextRight {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    padding: 99px 19% 99px 24%;
}

.sectionText:after {

    left: 2%;
    position: absolute;
    font-size: 172px;
    font-family: "Barlow";
    font-weight: 700;

    z-index: 11;
}

.two:after {
    content: "2.";
    top: 4%;
    color: var(--secondary-text-color);
}

.three:after {
    content: "3.";
    top: 0;
    color: var(--relate-text-color);
}

.four:after {
    content: "4.";
    top: 3%;
    left: -13%;
    color: var(--relate-text-color);
}

.label {
    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
    font-family: var(--secondary-font-family);
    font-size: 18px;
    text-align: center;
    padding: 12px 28px;
    display: inline-block;
    margin-bottom: 15px;
}

.sectionText .subTitleText {
    padding-left: 0;
}

.studentCount {
    border-top: 1px solid #000;
    font-size: 100px;
    font-family: var(--primary-font-family);
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 50px;
    line-height: 35px;
}

.studentCount span {
    font-size: 28px;
    font-weight: 500;
    font-family: var(--secondary-font-family);
    display: inline-block;
    padding-left: 15px;
}

.sectionTextRight a.actionBTN {
    background-color: var(--default-bg-color);
}

.layerOverlap {
    position: absolute;
    top: 0;
    transform: translate(9%, 21%);
    min-width: 617px;
    z-index: 9;
}

.sectionTextLeft {
    color: var(--primary-text-color);
    padding: 0px 0% 99px 25%;
}

.three.layerOverlap {
    transform: translate(9%, 15%);
}

.faculty .sectionTextRight {
    padding: 99px 19% 99px 14%;
}

.sectionTextRight.sectionText.four {
    background-color: var(--default-bg-color);
}

.sectionTextRight.four a.actionBTN {
    background-color: var(--secondary-background-color);
}

.accreditation {
    padding-bottom: 65px;
}

.accreditation h4 {
    font-weight: 300;
    font-size: 26px;
    font-family: var(--secondary-font-family);
    color: var(--primary-text-color);
}

.accreText p {
    font-family: var(--secondary-font-family);
    color: var(--primary-text-color);
    font-size: 16px;
}

.learningText h4 {
    font-family: var(--secondary-font-family);
    color: var(--primary-text-color);
    font-size: 26px;
    font-weight: 300;
    padding-top: 40px;
}

.learningText h4:before {
    content: "";
    position: absolute;
    width: 300px;
    height: 1px;
    background-color: var(--secondary-background-color);
    top: 0;
    left: 0;
}

.learningText {
    transform: translateX(14%);
    -webkit-transform: translateX(14%);
    -moz-transform: translateX(14%);
    position: absolute;
    z-index: 1;
    padding-top: 30px;
}

.internationalLogo img:not(:last-child) {
    padding-right: 60px;
}

.internationalLogo {
    padding-top: 30px;
    padding-bottom: 30px;
}

.overlapText {
    background-color: var(--default-bg-color);
    padding-top: 30px;
}

.overlapText p {
    font-family: var(--secondary-font-family);
    font-size: 16px;
}

.ranking {
    background: url('../images/urn_aaid_sc_US.png') no-repeat #B72A2D;
    padding: 65px 0;
}

.ranking h4 {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 45px;
}

.slide {
    background-color: var(--default-bg-color);
    padding: 50px;
    min-height: 248px;
}

#rankingSlider .owl-dots {
    margin-top: 45px;
}

#rankingSlider .owl-dots button.owl-dot span {
    background: #a52929;
}

#rankingSlider .owl-dots button.owl-dot.active span {
    background: #fff;
}

.placement {
    padding: 65px 0 0;
    background: url('../images/186a0f4b-058c-4a96-9338-e83fc668bec9.png') no-repeat;
    background-size: cover;
    background-position: center center;
}

.placement p {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #333333;
    margin: 0;
}

.placement a.actionBTN {
    background-color: #333333;
    color: #fff;
}

.spsWrapper {
    background-color: var(--secondary-background-color);
    padding: 35px 26px;
}

#visiterSlider {
    background-color: var(--default-bg-color);
}

.spsWrapper .innerWrap p {
    font-family: var(--secondary-font-family);
    color: var(--primary-text-color);
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}

.innerWrap {
    width: 100%;
}

.package {
    display: flex;
    align-items: center;
}

.spsWrapper .innerWrap .package span {
    color: var(--primary-text-color);
}

.spsWrapper .innerWrap .package span.numberText {
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 95px;
    line-height: 60px;
}

.spsWrapper .innerWrap span.TEXT {
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 25px;
    padding-left: 15px;
    line-height: 24px;
    padding-top: 13px;
}

#visiterSlider .owl-item img {
    width: 211px;
}

#visiterSlider .owl-dots {
    text-align: left;
    padding-left: 28px;
}

.alumni {
    padding: 65px 0;
    margin-top: 65px;
    background-image: url('../images/urn_aaid_sc_US_186a0f4b-058c-4a96-9338-e83fc668bec3.jpg');
    background-repeat: no-repeat;
    background-position: center right;
}

.alumniSection {
    background-image: url('../images/urn_aaid_sc_US_186a0f4b-058c-4a96-9338-e83fc668bec2.png');
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 120px;
}

.alumniSection::before,
.alumniSection::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100px;
    background-color: var(--primary-background-color);

}

.alumniSection::before {
    bottom: 0;
}

.alumniSection::after {
    top: 0;
}

#alumniDesImg .owl-item img {
    width: 315px;
    margin: 0 auto;
}

.descriptionWrapper .des {
    color: #707070;
    font-family: var(--secondary-font-family);
    font-size: 16px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.name,
.batch {
    font-family: var(--relate-font-family);
    color: #333333;
    font-size: 16px;
}

.name {
    font-weight: 700;
    padding-top: 25px;
}

.batch {
    font-size: 14px;
}

.name:before {
    content: "";
    position: absolute;
    width: 65px;
    height: 2px;
    background-color: #ec3237;
    top: 0;
}

.joinKRM {
    padding: 65px 0;
    margin-top: 65px;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.helpline p {
    font-family: var(--secondary-font-family);
    font-size: 16px;
}

.helpline p:first-child {
    font-weight: 700;
}

.helpline p a {
    color: #4E4E4E;
    text-decoration: none;
}

.helpline p a:hover {
    text-decoration: none;
    color: #4E4E4E;
}

.recenthighlights {
    padding-top: 65px;
}

.grid {
    cursor: pointer;
}

.recenthighlights .subTitleText {
    margin-bottom: 100px;
}

.animateText {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--secondary-text-color);
    left: 0;
    top: 0;
    background-color: #ec3237bf;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    font-family: var(--secondary-font-family);
    padding: 45px;
}

.animateText p {
    position: relative;
    padding-bottom: 45px;
}

.animateText p:after {
    content: "";
    position: absolute;
    width: 65px;
    height: 2px;
    background-color: var(--secondary-background-color);
    bottom: 0;
    left: 0;
}

.grid:hover .animateText {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.2s all;
}

.date {
    margin-bottom: 45px;
}

.footerText {
    font-family: var(--relate-font-family);
    font-size: 16px;
}

@media (min-width:769px) {
    .vs-lg-6em {
        padding-top: 6em;
        padding-bottom: 6em;
    }

    .whyKRM {
        padding-top: 60px;
    }

    .studentCount {
        max-width: 250px;
    }
}

@media (max-width: 768px) {

    header,
    .headerContent {
        text-align: center;
        padding-bottom: 2em;
    }

    .formcontainer {
        padding-bottom: 78px;
    }

    .headerContent h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .headerContent h1 br {
        display: none;
    }

    .headerContent h1 span {
        display: inline-block;
        font-size: 40px;
    }

    .headerContent p {
        font-size: 24px;
        line-height: 25px;
    }

    .number {
        font-size: 54px;
        line-height: 40px;
    }

    .subTitleText {
        font-size: 28px;
        line-height: 28px;
        padding-left: 10px;
    }

    .enggContent {
        border-top: 1px solid #707070;
        border-left: none;
        padding-left: 0;
        padding-top: 20px;
    }

    .applyOnlineContainer {
        padding-left: 0;
        flex-direction: column;
    }

    .applyOnlineContainer ul.sectionMenu {
        flex-direction: column;
        border-radius: 6px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .applyOnlineContainer ul.sectionMenu li:not(:last-child):after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #fff;
        left: 0;
        bottom: 0;
    }

    .ugText img {
        width: 90px;
    }

    .courselist {
        padding-left: 14px;
    }

    .actionBTN {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        text-align: center;
        margin-bottom: 20px;
    }

    .layerOverlap {
        position: relative;
        transform: none;
        min-width: auto;
    }

    .label {
        font-size: 16px;
    }

    .sectionTextRight,
    .sectionTextLeft,
    .faculty .sectionTextRight {
        padding: 35px 15px;
    }

    .sectionText:after {
        font-size: 70px;
        left: 3%;
    }

    .two:after {
        top: -13%;
    }

    .three.layerOverlap {
        transform: none;
    }

    .three.layerOverlap {
        transform: none;
    }

    .studentCount {
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-top: 20px;
    }

    .studentCount span {
        display: block;
        font-size: 20px;
        padding-left: 0;
    }

    .three:after {
        top: -53px;
    }

    .four:after {
        top: -13%;
    }

    .accreditation {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .learningText {
        position: relative;
        transform: none;
    }

    .internationalLogo img:not(:last-child) {
        margin-bottom: 20px;
    }

    .learningText h4 br {
        display: none;
    }
    .spsWrapper {
        padding: 15px 15px;
    }

    .spsWrapper .innerWrap:not(:last-child)
    {
        margin-bottom: 15px;
    }

    .spsWrapper .innerWrap .package span.numberText {
        font-size: 45px;
        line-height: 40px;
    }

    .slide {
        padding: 14px;
        min-height: 158px;
    }
    .joinKRM, .alumni, .whyKRM {
        padding: 35px 0;
    }
    .joinKRM {
        margin-top: 0;
    }
    .recenthighlights {
        padding-top: 35px;
    }
    .recenthighlights .subTitleText {
        margin-bottom: 25px;
    }
    .alumni {
        background: none;
    }
    .alumni .subTitleText {
        text-align: center;
    }
    #alumniDesImg .owl-item img {
        width: 170px;
    }
    .alumniSection {
        background-size: 78px;
        padding-top: 20px;
        padding-bottom: 48px;
    }
    .alumniSection::before, .alumniSection::after {
        height: 44px;
    }
    .descriptionWrapper .des {
        padding-top: 15px;
    }
    .animateText {
        padding: 10px;
        font-size: 12px;
    }
    .animateText p {
        padding-bottom: 6px;
    }
    .date {
        margin-bottom: 6px;
    }
}

.indslide img {
    width: 120px !important;
}

.sectionTextRight.sectionText .studentCount {
    font-size: 35px;
    padding-top: 20px !important;
}

.sectionTextRight.sectionText .studentCount .indslide img{
    width: 72px !important;
}
